*{
	margin: 10px;
}

textarea{
	border-radius: 8px;
	padding: 5px;
	outline: none;
	resize: none;
	border:1px solid black;

}

button{
	background-color: #4CAF50;
	border-radius: 8px;
	border:none;
	outline: none;
	color:white;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	padding: 10px 26px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}






